.home-container {
    padding: 24px;
}

.filters {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
}

.center-pagination {
    margin-top: 16px;
    text-align: center;
}